body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 50px;
}
.all_meme_wraper{
    color: blue;
}
.all_meme_wraper:hover{
    color: black;
}
.all_meme_wraper:hover .icons{
    display: block;
}
.meme_wraper{
    display: flex;
    flex-direction: column;
}
.opener_meme{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 500px;
}

.name_meme{
    font-size: 20px;
}
.icons{
    display: none;
}
.meme_icon_active{
    display: none;
}
.meme1,
.meme2,
.meme3{
    display: none;
}
.meme_wraper:hover .meme1,
.meme_wraper:hover .meme2,
.meme_wraper:hover .meme3 {
    display: block;
}
#btnControl,
#btnControl1,
#btnControl2{
    display: none;
}
#btnControl:checked+.btn>.meme1,
#btnControl1:checked+.btn>.meme2,
#btnControl2:checked+.btn>.meme3
 {
    display: block;
}
 
#btnControl:checked+.btn,
#btnControl1:checked+.btn,
#btnControl2:checked+.btn{
    color: black;
}
#btnControl:checked+.btn>.opener_meme>.icons>.meme_icon_active,
#btnControl1:checked+.btn>.opener_meme>.icons>.meme_icon_active,
#btnControl2:checked+.btn>.opener_meme>.icons>.meme_icon_active,
.meme_wraper:hover .meme_icon_active {
    display: block;
}
#btnControl:checked+.btn>.opener_meme>.icons>.meme_icon,
#btnControl1:checked+.btn>.opener_meme>.icons>.meme_icon,
#btnControl2:checked+.btn>.opener_meme>.icons>.meme_icon,
.meme_wraper:hover .meme_icon {
    display: none;
}
.meme_wraper:active .btn{
    color: blue;
}

